* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Global CSS file or your custom styles */
/* global.css */

/* Import the font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.MuiLink-root {
  text-decoration: none !important;
}
.MuiTypography-root {
  font-family: "Raleway", sans-serif;
}
p {
  font-size: 14px;
}

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
} */
