* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Global CSS file or your custom styles */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i");

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.MuiLink-root {
  text-decoration: none !important;
}
p {
  font-size: 14px;
}
/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
} */
