* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
/* Global CSS file or your custom styles */
/* global.css */

/* Import the font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.MuiLink-root {
  text-decoration: none !important;
}
.MuiTypography-root {
  font-family: "Raleway", sans-serif !important;
}
p {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
body {
  font-family: "Raleway", sans-serif;
}
/* .MuiTypography-body1,
.MuiTypography-body2 {
  font-family: "Raleway", sans-serif !important;
}
.MuiTypography-h1,
.MuiTypography-h2,
.MuiTypography-h3,
.MuiTypography-h4,
.MuiTypography-h5,
.MuiTypography-h6 {
  font-family: "Raleway", sans-serif !important;
} */
/* base color */

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
} */
